@use './colors' as colors;

.footerContainer {
    margin-top: 25px;
    text-align: center;
    //padding: 0 60px;
    font-family: 'Nunito';
  }
  
  .footerText {
    color: white;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
  }
  
  .contactInfo {
    padding-top: 10px;
    color: colors.$green1;;
    font-size: 12px;
   padding-left: 52px;
   font-family: 'NunitoItalic';
  }