$grey: #333333;
$green1: #3dcd58;
$black: rgba(0, 0, 0, 0.75);
$white: #ffffff;
$red: #ff0000;
$orange: #bc611e;

:export {
  grey: $grey;
  green1: $green1;
  black: $black;
  white: $white;
  red: $red;
  orange: $orange;
}