.assessmentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'NunitoBold';
  background-color: #333333;
  color: white;
  padding: 1rem 2rem;
}

.assessmentTitle {
  font-family: 'NunitoBold';
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
}

.assessmentMetrics {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.metricItem {
  // background-color: rgba(255, 255, 255, 0.1);
  background-color: #23252a;
  
  border-radius: 20px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
}
.metricItem1 {
  // background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
}

.metricText {
  font-size: 13px;
  white-space: nowrap;
  margin: 5px;
}

.progressContainer {
  display: flex;
  flex-direction: column;
  min-width: 148px;
}

.progressText {
  margin-bottom: 0.25rem;
  white-space: nowrap;
  font-size: 12px;
  font-family: 'Nunito';
}

.progressBar {
  height: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  overflow: hidden;
}

.progressFill {
  height: 100%;
  background-color: #4caf50;
  border-radius: 3px;
  transition: width 0.3s ease;
}

