@use './colors' as colors;

.mainContainer {
  background-color: colors.$black;
  color: colors.$white;
  width: 697px;
  height: 250px;
  margin: auto;
  border-top: 6px solid colors.$green1;
  position: absolute;
  left: 55px;
  top: 135px;
  margin-left: 113px;
  margin-top: 48px;
  font-family: 'Sarabun-Regular';
  // opacity: 0;
  animation: slideInRight 0.5s ease-in-out;
}

@keyframes slideInRight {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mainContainer h1 {
  color: colors.$white;
  padding: 0px 50px 0px 45px;
  margin-top:0px;
  margin-bottom: 0;
  font-family: 'NunitoBold';
  font-size: 14px;
  font-weight: bold;
}

.mainContainer h3 {
  color: colors.$green1;
  padding: 10px 45px 0px 45px;
  margin-bottom: 0;
  font-family: 'NunitoBold';
  font-size: 16px;
  font-weight: normal;
}

.mainContainer p {
  color: colors.$white;
  padding: 0px 45px 0px 45px;
  margin-top: 20px;
  font-family: 'Nunito';
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0;
}

.mainContainer button {
//   background-color: colors.$green1;
//   font-size: 22px;
//  width: 157px;
// height: 35px;
//   border-radius: 30px;
// color: #000;
//  border: none;
//  cursor: pointer;
//  display: block;
//   margin:15px auto 0;
font-family: 'Nunito';
font-size: 14px;
 }

/* Add horizontal line styling */
.greenLine {
  height: 4px;
  background-color: colors.$green1;
  width: 100%;
  margin-top: 15px;
}